:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.bottom {
  height: calc(100vh - 40px);
  width: 100vw;
}
.page-content {
  padding: 5px;
  width: calc(100vw - 160px);
  height: calc(100vh - 50px);
}