<div class="flex p_full">
    <div class="flexc p_4pentaw">
            <!-- [projection]="'globe'" -->
        <mapview class="p_4pentah bd_r5 bd_dbl bdc_tint"
            [markerGroups]="[wpGrp, planeMgrp]"
            [paths]="paths"
            [apiKey]="apiKey"
            [mapStyles]="['topo-v2', 'satellite']"
            [mapStyle]="'satellite'"
        ></mapview>   
        <div class="flexc px_h300 bd_r5 bd_dbl bdc_tint c_tint bold ft_huge centcont justcent">
            Manual Flight in Next Phase
        </div>
    </div>
    <div class="flexc px_maxw300">
        <div class="flexc grow bd_r5 bd_dbl bdc_tint pad5 zeromin">
            <dropselect class="pad5btm"
                [items]="telemetries"
                [title]="'Select Planes to show Telemetry'"
                [indexMode]="true"
                [hoverMode]="true"
                [multiSelect]="true"
                [representation]="idRepr"
                [fixDropdown]="false"
                (selectionChanged)="onPlaneSelected($event)"
            ></dropselect>
            <div class="zeromin flexc v_3pentah">
                @for (idx of visibleTelemetryIndices; track $index) {
                    <obj-editor
                        [objToEdit]="telemetries[idx]"
                        [readOnly]="true"
                        [defaultExpanded]="true"
                        [objName]="`ID = ${telemetries[idx].id}`"
                    ></obj-editor>
                }
            </div>
        </div>
        @if (status.bridge) {
            <div class="flexc px_h300 bd_r5 bd_dbl bdc_tint pad5">
                <div class="flexc px_h50">
                    @if (status.simulator && selectedMission !== undefined) {
                        <label class="ft_norm bold oblq txt_nowrap centtext">Current Mission:</label>
                        <label class="ft_smlr oblq txt_nowrap centtext">{{selectedMission.name}}</label>
                    } @else {
                        <dropselect class="pad5btm"
                            [items]="missions"
                            [title]="'Select Mission'"
                            [representation]="nameRepr"
                            [hoverMode]="true"
                            (selectionChanged)="onMissionSelected($event)"
                        ></dropselect>
                    }
                </div>
                <obj-editor class="zeromin px_maxh90 pad10lft pad10rht"
                    [objToEdit]="settings"
                    [readOnly]="selectedMission === undefined"
                    [defaultExpanded]="true"
                    [objName]="'Launch Settings'"
                    [autoApply]="true"
                    [textEnabled]="false"
                    (applied)="onSettingsChanged($event)"
                ></obj-editor>
                <div class="flex p_fullw justarnd pad5h">
                    <button class="p_halfw mar5rht pad5v" [disabled]="status.simulator && !status.mdone" (click)="onLaunch()">{{status.mdone ? "Restart" : "Launch"}}</button>
                    <button class="p_halfw mar5rht pad5v" (click)="onStop()">Stop</button>
                </div>
                <button class="pad5 mar5" [disabled]="!status.siglost" (click)="onSigLoss()">{{status.siglost && status.mstatus === "SIGLOST" ? "Resume Link" : "Block Link"}}</button>
            </div>
        } @else {
            <div class="flexc px_h300 bd_r5 bd_dbl bdc_tint pad5 c_dtint bold ft_huge centcont justcent">
                <span>[Unavailable]</span>
                <span>Backend Offline</span>
            </div>
        }
        <outbox class="px_h90 bd_r5 bd_dbl bdc_tint" [clearable]="false" title=""></outbox>
    </div>    
</div>