<div class="flex p_full">
    <div class="flexc p_4pentaw">
            <!-- [projection]="'globe'" -->
        <mapview class="p_4pentah bd_r5 bd_dbl bdc_tint"
            [markerGroups]="[wpGrp, planeMgrp]"
            [paths]="paths"
            [apiKey]="apiKey"
            [mapStyles]="['topo-v2', 'satellite']"
            [mapStyle]="'satellite'"
        ></mapview>   
        <div class="flexc px_h300 bd_r5 bd_dbl bdc_tint c_ltint bold ft_huge centcont justcent">
            Manual Flight in Next Phase
            <!-- <webglshaderhost class="px_h200 px_w300 db_sng bd_r5 bdc_tint"
                [vertexShaderPath]="'/shaders/hud.vert'"
                [fragmentShaderPath]="'/shaders/hud.frag'"
                [uniforms]="uniforms"
            ></webglshaderhost> -->
        </div>
    </div>
    <div class="flexc px_w300">
        <div class="flexc grow bd_r5 bd_dbl bdc_tint pad5 zeromin">
            <dropselect class="pad5btm"
                [items]="telemetries"
                [title]="'Select Planes to show Telemetry'"
                [indexMode]="true"
                [hoverMode]="true"
                [multiSelect]="true"
                [representation]="idRepr"
                [fixDropdown]="false"
                (selectionChanged)="onPlaneSelected($event)"
            ></dropselect>
            <div class="zeromin flexc v_3pentah">
                @for (idx of editableTelemetryIndices; track $index) {
                    <obj-editor
                        [objToEdit]="telemetries[idx]"
                        [includeFilter]="telemetryFilter"
                        [readOnly]="true"
                        [defaultExpanded]="true"
                        [objName]="telemetries[idx].id.toString()"
                    ></obj-editor>
                }
            </div>
        </div>
        <div class="flexc px_h300 bd_r5 bd_dbl bdc_tint pad5">
            <div class="flexc px_h50">
                @if (isSimulatorRunning && selectedMission !== undefined) {
                    <label class="ft_norm bold oblq txt_nowrap centtext">Current Mission:</label>
                    <label class="ft_smlr oblq txt_nowrap centtext">{{selectedMission.name}}</label>
                } @else {
                    <dropselect class="pad5btm"
                        [items]="missions"
                        [title]="'Select Mission'"
                        [representation]="nameRepr"
                        [hoverMode]="true"
                        (selectionChanged)="onMissionSelected($event)"
                    ></dropselect>
                }
            </div>
            <value-editor class="pad10lft pad10rht"
                [itemName]="'Enable FlightGear'"
                [itemToEdit]="settings"
                (itemChanged)="onSettingsChanged($event)"
            ></value-editor>
            <button class="pad5 mar5" [disabled]="!isLaunchEnabled" (click)="onLaunch()">{{launchText}}</button>
            <button class="pad5 mar5" [disabled]="!isSigLostEnabled" (click)="onSigLoss()">{{sigLossText}}</button>
            <button class="pad5 mar5" (click)="onStop()">Stop</button>
        </div>
        <outbox class="px_h200 bd_r5 bd_dbl bdc_tint"></outbox>
    </div>    
</div>