:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.vhalf-child {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-grow: 1;
}

.hhalf-child {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.playground {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 3px double #abc;
}

label {
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    align-self: center;
    margin: 5px;
}

mgl-map {
    flex-grow: 1;
}