:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.vhalf-child {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-grow: 1;
}

.hhalf-child {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.playground {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 3px double #abc;
}