<div class="flexc bd_r5 centcont"
    [class.bd_dsh]="showBorder"
>
    @if (showTitle) {
        <span class="txt_hdg">{{ title }}</span>
    }
    <div #joystickBase class="pos_rel bd_r50p noselect bgc_lgrey bd_sng bdc_tint sh5_intint"
        [style.width]="baseSizeStr"
        [style.height]="baseSizeStr">
        <div #joystickKnob class="centtext centcont pos_abs tf_cent bd_r50p bgc_grey sh5_grey draghost ft_smal"
            [class.dragging]="isDragging"
            [class.tr_none]="isDragging"
            [class.tr_short]="!isDragging"
            [style.width]="knobSizeStr"
            [style.height]="knobSizeStr"
            [style.left.px]="knobX"
            [style.top.px]="knobY"
            (pointerdown)="onPointerDown($event)"
            (pointermove)="onPointerMove($event)"
            (pointerup)="onPointerUp($event)"
        >
            {{knobText}}
        </div>
    </div>

    <div class="flexc justcent" [style.display]="showValues ? 'flex' : 'none'">
        <p class="mar0">x: {{ horizontalValue }}</p>
        <p class="mar0">y: {{ verticalValue }}</p>
    </div>
</div>