<div class="full overscroll relative">
    @if(data.length > 0) {
        <table class="absolute top left right bottom">
            <thead>
                <tr>
                @for(col of columns; track $index) {
                    <th>{{ getTitleCase(col) }}</th>
                }
                </tr>
            </thead>
            <tbody>
                @for(row of data; track $index) {
                <tr>
                    @for(col of columns; track $index) {
                    <td>{{ row[col] }}</td>
                    }
                </tr>
                }
            </tbody>
        </table>
    }
    @else {
        <p>No data available.</p>
    }    
</div>