<div class="p_full">
    <div class="flexc centcont bd_r5 p_fullh"
        [class.bd_dsh]="showBorder"
    >
        @if (isArray || isObject) {
            <div class="flex centcont justends p_fullw px_h20 bgc_lgrey">
                <div class="bold mar5rht txt_nowrap ov_hid">{{ objName }}</div>
                <button (click)="toggleSelfExpand()">{{ expanded ? '▼' : '▷' }}</button>
            </div>
            <div class="pad10lft mar5btm bd_r5 bdc_tint p_fullw"
                [class.ovy_scr]="scrollChildren"
                [style.border-left-width]="'1px'"
                [style.border-left-style]="'solid'"
            >
                @if (expanded) {
                    @for (key of keys; track key) {
                        <div>
                            <field-editor
                                [objToEdit]="objToEdit[key]"
                                [objName]="fieldName(key)"
                                [fullObjName]="fieldFullName(key)"
                                [readOnly]="fieldReadOnly(key)"
                                [expanded]="fieldExpanded(key)"
                                [includeFieldFilter]="includeFieldFilter"
                                [readOnlyFieldFilter]="readOnlyFieldFilter"
                                [expandFieldFilter]="expandFieldFilter"
                                (fieldChanged)="onFieldChanged($event)"
                            ></field-editor> 
                        </div>
                    }
                }
                @else { <span>Collapsed {{typeStr}}</span> }
            </div>
        }
        @else {
            <value-editor class="p_fullw"
                [itemToEdit]="objToEdit"
                [itemName]="objName"
                [readOnly]="readOnly"
                (itemChanged)="onItemChanged($event)"
            ></value-editor>
        }
    </div>
</div>