<div class="flex centeralign justends">
    <span class="italic paddingright">
        {{ itemName ? itemName : '\<Value\>' }}
    </span>
    @if (readOnly) {
        <span>{{itemStr}}</span>
    }
    @else {
        @let type = getInputType();
        @if (type === "unsupported") {
            <span>Unsupported item type</span>
        }
        @else {
            <input class="wmin50px"
                type="{{type}}"
                step="any"
                [value]="itemStr"
                (input)="onItemChange($event)"
            />
        }
    }
</div>