<div class="flex centeralign justends">
    <div class="flex italic paddingright">
        {{ itemName ? itemName : '\<Value\>' }}
    </div>
    <div class="flex grow">
        @if (readOnly) {
            <div>
                {{ getStringRepresentation() }}
            </div>
        }
        @else {
            @let type = getInputType();
            @if (type === "unsupported") {
                Unsupported item type
            }
            @else {
                <input class="full wmin50px"
                    type="{{type}}"
                    [value]="itemToEdit"
                    (input)="onItemChange($event)"
                />
            }
        }
    </div>
</div>