<div class="flex row centeralign">
    <div class="wmin50px italic">
        {{ itemName ? itemName : '\<Value\>' }}
    </div>
    <div>
        @if (readOnly) {
            <div>
                {{ getStringRepresentation() }}
            </div>
        }
        @else {
            @let type = getInputType();
            @if (type === "unsupported") {
                Unsupported item type
            }
            @else {
                <input
                    type="{{type}}"
                    [value]="itemToEdit"
                    (input)="onItemChange($event)"
                />
            }
        }
    </div>
</div>