@if (objToEdit) {
    <div class="flex grow zeromin">
        <div class="flex c grow overscrolly">
            <field-editor class="zeromin"
                [objToEdit]="objToEdit"
                [objName]="objName"
                [expanded]="true"
                [includeFilter]="includeFilter"
                [readOnly]="readOnly"
                [defaultExpanded]="defaultExpanded"
                (fieldChanged)="onFieldChange($event)"
            ></field-editor>
        </div>
        @if (textMode && !readOnly) {
            <div class="flex grow hhalf errorhost" [class.error]="errorState">
                <textarea class="flex grow padding noresize"
                    [value]="getObjStr()"
                    (input)="onTextChange($event)"
                ></textarea>
            </div>
        }
    </div>
    @if (!readOnly) {
        <div class="flex centeralign justaround padding">
            <Label class="noselect pointer">
                <input 
                    type="checkbox"
                    [checked]="textMode"
                    (change)="toggleText()"
                >
                Toggle Text
            </Label>
            <button class="wmin50px padding" (click)="reset()">Reset</button>
            <button class="wmin50px padding" (click)="apply()">Apply</button>
        </div>    
    }
}
@else {
    <div class="flex grow justcenter centeralign huge lighttext">No Object</div>
}