<div class="p_full zeromin">
    <div class="flexc centcont justends bd_r5 p_full zeromin"
        [class.bd_dsh]="showBorder"
    >
        @if (objToEdit) {
            @let btmStripShown = !readOnly && (textEnabled || !autoApply);
            <div class="flex p_full zeromin"
                [style.height]="btmStripShown ? 'calc(100% - 30px)' : '100%'"
            >
                @let textBoxShown = textMode && !readOnly;
                <div class="p_fullh"
                    [class.p_halfw]="textBoxShown"
                    [class.p_fullw]="!textBoxShown"
                >
                    <field-editor
                        [objToEdit]="objToEdit"
                        [objName]="objName"
                        [readOnly]="readOnly"
                        [expanded]="expanded"
                        [scrollChildren]="true"
                        [includeFieldFilter]="includeFieldFilter"
                        [readOnlyFieldFilter]="readOnlyFieldFilter"
                        [expandFieldFilter]="expandFieldFilter"
                        (fieldChanged)="onFieldChange($event)"
                    ></field-editor>
                </div>
                @if (textBoxShown) {
                    <textarea class="p_halfw pad5 noresize errhost"
                        [class.err]="errorState"
                        [value]="getObjStr()"
                        (input)="onTextChange($event)"
                    ></textarea>
                }
            </div>
            @if (btmStripShown) {
                <div class="flex centcont justarnd pad5 p_fullw px_h30 bgc_lgrey">
                    @if (textEnabled) {
                        <Label class="noselect cs_ptr ft_smal flex centcont">
                            <input
                                type="checkbox"
                                name="textMode"
                                [checked]="textMode"
                                (change)="toggleText()"
                            >
                            Json
                        </Label>
                    }
                    @if (!autoApply) {
                        <button class="px_minw50 pad5" (click)="reset()">Reset</button>
                        <button class="px_minw50 pad5" (click)="apply()">Apply</button>
                    }
                </div>    
            }
        }
        @else {
            <div class="flex p_full zeromin justcent centcont ft_huge c_grey">No Object</div>
        }
    </div>
</div>