<div
    class="pos_rel noselect"
    [style.width]="size"
    [style.height]="size"
    [class.draghost]="isDraggable"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
>
    <div class="p_full pos_rel bd_r50p ringhost emphhost" 
        [class.dragging]="isDragging"
        [class.tr_none]="isDragging"
        [class.tr_short]="!isDragging"
        [style.--degrees]="fillAngle + 'deg'"
        [class.bg_emph]="isEmphasized"   
    >
        <div class="pos_abs noptr bd_r50p top0 btm0 lft0 rht0 emphhost tr_short bdc_tint bd_sng"
            [class.bd_emph]="isEmphasized"
            [class.sh_emph]="isEmphasized"    
        ></div>
        <div class="pos_abs noptr bd_r50p bgc_white emphhost tr_short bdc_tint bd_sng"
            [class.inset]="isEmphasized"
            [class.bd_emph]="isEmphasized"
            [class.sh_emph]="isEmphasized" 
            [style.top]="holeWidthPerc + '%'"
            [style.left]="holeWidthPerc + '%'"
            [style.right]="holeWidthPerc + '%'"
            [style.bottom]="holeWidthPerc + '%'"
        ></div>
        @if (showNeedle) {
            <div class="pos_abs top5p lft50p p_2pentah bgc_black tfo_btmoff px_w2"
                [style.height]="'30%'"
                [class.tr_none]="isDragging"
                [class.tr_short]="!isDragging"
                [style.transform]="needleRotation"
            ></div>
        }
        @if (showText) {
            <div class="pos_abs top50p lft50p ft_smal centtext noptr tf_cent">{{ displayValue }}</div>
        }
    </div>
    @if (showLabel) {
        <div class="pos_abs lft50p tf_xcent top0 centtext ft_smal bold ff_mono">
            {{ labelValue }}
        </div>
    }
</div>