.bd_sng {
    border-width: 1px;
    border-style: solid;
}
.bd_dbl {
    border-width: 3px;
    border-style: double;
}
.bd_dsh {
    border-width: 1px;
    border-style: dashed;
}
.bd_dtd {
    border-width: 1px;
    border-style: dotted;
}
.bd_gro {
    border-width: 1px;
    border-style: groove;
}
.bd_rid {
    border-width: 1px;
    border-style: ridge;
}
.bd_inset {
    border-width: 1px;
    border-style: inset;
}
.bd_outset {
    border-width: 1px;
    border-style: outset;
}

.bd_bsng {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.bd_tsng {
    border-top-width: 1px;
    border-top-style: solid;
}
.bd_lsng {
    border-left-width: 1px;
    border-left-style: solid;
}
.bd_rsng {
    border-right-width: 1px;
    border-right-style: solid;
}

.bd_bdsh {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}
.bd_tdsh {
    border-top-width: 1px;
    border-top-style: dashed;
}
.bd_ldsh {
    border-left-width: 1px;
    border-left-style: dashed;
}
.bd_rdsh {
    border-right-width: 1px;
    border-right-style: dashed;
}

.bd_non {
    border: none;
}

.bd_r5 {
    border-radius: 5px;
}
.bd_r10 {
    border-radius: 10px;
}
.bd_r15 {
    border-radius: 15px;
}
.bd_r20 {
    border-radius: 20px;
}

.bd_r10p {
    border-radius: 10%;
}
.bd_r20p {
    border-radius: 20%;
}
.bd_r30p {
    border-radius: 30%;
}
.bd_r40p {
    border-radius: 40%;
}
.bd_r50p {
    border-radius: 50%;
}