.flex {
    display: flex;
}

.r {
    flex-direction: row;
}

.c {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.extend {
    flex-basis: 100%;
}

.justends {
    justify-content: space-between;
}

.justcenter {
    justify-content: center;
}

.justaround {
    justify-content: space-around;
}

.centeralign {
    align-items: center;
    align-content: center;
}

.centerself {
    align-self: center;
}

.centertext {
    text-align: center;
}