.bold {
    font-weight: bold;
}
.norm {
    font-weight: normal;
}
.ital {
    font-style: italic;
}
.oblq {
    font-style: oblique;
}

.txt_nowrap {
    white-space: nowrap;
}
.txt_hdg {
    align-self: center;
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
}
.txt_prewrap {
    white-space: pre-wrap;
}

.ft_tiny {
    font-size: 0.5rem;
}
.ft_mini {
    font-size: 0.6rem;
}
.ft_xsml {
    font-size: 0.7rem;
}
.ft_smal {
    font-size: 0.8rem;
}
.ft_smlr {
    font-size: 0.9rem;
}
.ft_norm {
    font-size: 1.0rem;
}
.ft_bigr {
    font-size: 1.1rem;
}
.ft_big {
    font-size: 1.2rem;
}
.ft_xbig {
    font-size: 1.3rem;
}
.ft_larg {
    font-size: 1.4rem;
}
.ft_huge {
    font-size: 1.5rem;
}

.ff_mono {
    font-family: 'Courier New', Courier, monospace;
}

.lh_tiny {
    line-height: 0.5rem;
}
.lh_mini {
    line-height: 0.6rem;
}
.lh_xsml {
    line-height: 0.7rem;
}
.lh_smal {
    line-height: 0.8rem;
}
.lh_smlr {
    line-height: 0.9rem;
}
.lh_norm {
    line-height: 1.0rem;
}
.lh_bigr {
    line-height: 1.1rem;
}
.lh_big {
    line-height: 1.2rem;
}
.lh_xbig {
    line-height: 1.3rem;
}
.lh_larg {
    line-height: 1.4rem;
}
.lh_huge {
    line-height: 1.5rem;
}