.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.indent {
    padding-left: 8px;
}

.heading {
    align-self: center;
    font-size: 1.0em;
    font-weight: bold;
}

.lighttext {
    color: #abc;
}

.tiny {
    font-size: 0.5rem;
}

.mini {
    font-size: 0.6rem;
}

.normal {
    font-size: 1.0rem;
}

.small {
    font-size: 0.8rem;
}

.big {
    font-size: 1.2rem;
}

.large {
    font-size: 1.4rem;
}

.huge {
    font-size: 1.5rem;
}

.nowrap {
    white-space: nowrap;
}