.noresize {
    resize: none;
}
.noselect {
    user-select: none;
}

.c_ptr {
    cursor: pointer;
}
.c_grb {
    cursor: grab;
}
.c_grbng {
    cursor: grabbing;
}
.c_def {
    cursor: default;
}

.draghost {
    cursor: move;
    user-select: none;
    cursor: default;
    &.draggable {
        cursor: grab;
        &.dragging {
            cursor: grabbing;
        }
    }
}

.emphhost {
    &.emphasizable {
        transition: border-color 0.2s ease, box-shadow 0.2s ease;
        &.emphasized {
            border-color: @c_emph;
            box-shadow: 0 0 8px @c_demph;
        }
    }
}

.errorhost {
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    &.error {
        border-color: @c_err;
        box-shadow: 0 0 8px @c_derr;
    }
}

.resizehost {
    &.resizable {
        transition: width 0.2s ease, height 0.2s ease;
        &.resizing {
            transition: none;
        }
    }
}

.selecthost {
    transition: background-color 0.2s ease;
    &:hover {
        background-color: @c_grey;
    }
    &.selected {
        background-color: @c_dtint;
        a {
            color: @c_white;
        }
    }
    a {
        text-decoration: none;
        color: @c_dgrey;
        display: block;
        transition: color 0.2s ease;
    }
}