.px_maxw10 {
    max-width: 10px;
}
.px_maxh10 {
    max-height: 10px;
}
.px_maxw20 {
    max-width: 20px;
}
.px_maxh20 {
    max-height: 20px;
}
.px_maxw30 {
    max-width: 30px;
}
.px_maxh30 {
    max-height: 30px;
}
.px_maxw40 {
    max-width: 40px;
}
.px_maxh40 {
    max-height: 40px;
}
.px_maxw50 {
    max-width: 50px;
}
.px_maxh50 {
    max-height: 50px;
}
.px_maxw60 {
    max-width: 60px;
}
.px_maxh60 {
    max-height: 60px;
}
.px_maxw70 {
    max-width: 70px;
}
.px_maxh70 {
    max-height: 70px;
}
.px_maxw80 {
    max-width: 80px;
}
.px_maxh80 {
    max-height: 80px;
}
.px_maxw90 {
    max-width: 90px;
}
.px_maxh90 {
    max-height: 90px;
}
.px_maxw100 {
    max-width: 100px;
}
.px_maxh100 {
    max-height: 100px;
}
.px_maxw110 {
    max-width: 110px;
}
.px_maxh110 {
    max-height: 110px;
}
.px_maxw120 {
    max-width: 120px;
}
.px_maxh120 {
    max-height: 120px;
}
.px_maxw130 {
    max-width: 130px;
}
.px_maxh130 {
    max-height: 130px;
}
.px_maxw140 {
    max-width: 140px;
}
.px_maxh140 {
    max-height: 140px;
}
.px_maxw150 {
    max-width: 150px;
}
.px_maxh150 {
    max-height: 150px;
}

.px_maxw200 {
    max-width: 200px;
}
.px_maxh200 {
    max-height: 200px;
}
.px_maxw250 {
    max-width: 250px;
}
.px_maxh250 {
    max-height: 250px;
}
.px_maxw300 {
    max-width: 300px;
}
.px_maxh300 {
    max-height: 300px;
}
.px_maxw400 {
    max-width: 400px;
}
.px_maxh400 {
    max-height: 400px;
}
.px_maxw500 {
    max-width: 500px;
}
.px_maxh500 {
    max-height: 500px;
}