.sh5_tint {
    box-shadow: 0 0 5px @c_dtint;
}
.sh5_xtint {
    box-shadow: 3px 0 5px @c_dtint;
}
.sh5_ytint {
    box-shadow: 0 3px 5px @c_dtint;
}
.sh5_emph {
    box-shadow: 0 0 5px @c_demph;
}
.sh5_xemph {
    box-shadow: 3px 0 5px @c_demph;
}
.sh5_yemph {
    box-shadow: 0 3px 5px @c_demph;
}
.sh5_err {
    box-shadow: 0 0 5px @c_derr;
}
.sh5_xerr {
    box-shadow: 3px 0 5px @c_derr;
}
.sh5_yerr {
    box-shadow: 0 3px 5px @c_derr;
}
.sh5_submit {
    box-shadow: 0 0 5px @c_dsubmit;
}
.sh5_xsubmit {
    box-shadow: 3px 0 5px @c_dsubmit;
}
.sh5_ysubmit {
    box-shadow: 0 3px 5px @c_dsubmit;
}

.sh10_tint {
    box-shadow: 0 0 10px @c_dtint;
}
.sh10_xtint {
    box-shadow: 5px 0 10px @c_dtint;
}
.sh10_ytint {
    box-shadow: 0 5px 10px @c_dtint;
}
.sh10_emph {
    box-shadow: 0 0 10px @c_demph;
}
.sh10_xemph {
    box-shadow: 5px 0 10px @c_demph;
}
.sh10_yemph {
    box-shadow: 0 5px 10px @c_demph;
}
.sh10_err {
    box-shadow: 0 0 10px @c_derr;
}
.sh10_xerr {
    box-shadow: 5px 0 10px @c_derr;
}
.sh10_yerr {
    box-shadow: 0 5px 10px @c_derr;
}
.sh10_submit {
    box-shadow: 0 0 10px @c_dsubmit;
}
.sh10_xsubmit {
    box-shadow: 5px 0 10px @c_dsubmit;
}
.sh10_ysubmit {
    box-shadow: 0 5px 10px @c_dsubmit;
}

.sh5_intint {
    box-shadow: inset 0 0 5px @c_dtint;
}
.sh5_xintint {
    box-shadow: inset 3px 0 5px @c_dtint;
}
.sh5_yintint {
    box-shadow: inset 0 3px 5px @c_dtint;
}
.sh5_inemph {
    box-shadow: inset 0 0 5px @c_demph;
}
.sh5_xinemph {
    box-shadow: inset 3px 0 5px @c_demph;
}
.sh5_yinemph {
    box-shadow: inset 0 3px 5px @c_demph;
}
.sh5_inerr {
    box-shadow: inset 0 0 5px @c_derr;
}
.sh5_xinerr {
    box-shadow: inset 3px 0 5px @c_derr;
}
.sh5_yinerr {
    box-shadow: inset 0 3px 5px @c_derr;
}
.sh5_insubmit {
    box-shadow: inset 0 0 5px @c_dsubmit;
}
.sh5_xinsubmit {
    box-shadow: inset 3px 0 5px @c_dsubmit;
}
.sh5_yinsubmit {
    box-shadow: inset 0 3px 5px @c_dsubmit;
}

.sh10_intint {
    box-shadow: inset 0 0 10px @c_dtint;
}
.sh10_xintint {
    box-shadow: inset 5px 0 10px @c_dtint;
}
.sh10_yintint {
    box-shadow: inset 0 5px 10px @c_dtint;
}
.sh10_inemph {
    box-shadow: inset 0 0 10px @c_demph;
}
.sh10_xinemph {
    box-shadow: inset 5px 0 10px @c_demph;
}
.sh10_yinemph {
    box-shadow: inset 0 5px 10px @c_demph;
}
.sh10_inerr {
    box-shadow: inset 0 0 10px @c_derr;
}
.sh10_xinerr {
    box-shadow: inset 5px 0 10px @c_derr;
}
.sh10_yinerr {
    box-shadow: inset 0 5px 10px @c_derr;
}
.sh10_insubmit {
    box-shadow: inset 0 0 10px @c_dsubmit;
}
.sh10_xinsubmit {
    box-shadow: inset 5px 0 10px @c_dsubmit;
}
.sh10_yinsubmit {
    box-shadow: inset 0 5px 10px @c_dsubmit;
}