<div class="flex centcont justends">
    <span class="ital pad5rht">
        {{ itemName ? itemName : '\<Value\>' }}
    </span>
    @if (readOnly) {
        <span>{{itemStr}}</span>
    }
    @else {
        @let type = getInputType();
        @if (type === "unsupported") {
            <span>Unsupported item type</span>
        }
        @else {
            <input 
                type="{{type}}"
                step="any"
                [value]="itemStr"
                [checked]="checked"
                (input)="onItemChange($event)"
            />
        }
    }
</div>