<div class="flexc bd_dsh bd_r5 centcont">
    @if (showTitle) {
        <span class="txt_hdg">{{ title }}</span>
    }
    @if (styleIsVertical || styleIsHorizontal) {
        <slider
            [isEmphasized]="shiftActive"
            [isVertical]="styleIsVertical"
            [length]="'200px'"
            [isDraggable]="true"
            [isPercentage]="false"
            [showLabel]="true"
            [showText]="true"
            [value]="shiftActive ? sensitivity : value"
            (valueChanged)="onValueChanged($event)"
        ></slider>
    }
    @else if (styleIsKnob) {
        <knob
            [isEmphasized]="shiftActive"
            [showLabel]="true"
            [showNeedle]="true"
            [showText]="true"
            [isDraggable]="true"
            [isPercentage]="false"
            [size]="'100px'"
            [value]="shiftActive ? sensitivity : value"
            (valueChanged)="onValueChanged($event)"
        ></knob>
    }
    @if (showText) {
        <div class="flexc centcont">
            <p class="mar0 pad0">Value: {{ value.toFixed(2) }}</p>
            <p class="mar0 pad0">Sensitivity: {{ sensitivity.toFixed(2) }}</p>
            <p class="mar0 pad0">Press "{{ upKey }}" or "{{ downKey }}" to change.</p>
            <p class="mar0 pad0">Hold Shift to adjust sensitivity</p>
        </div>
    }
</div>  