<div class="flex c dashed rounded center">
    @if (showTitle) {
        <span class="heading">{{ title }}</span>
    }
    @if (styleIsVertical || styleIsHorizontal) {
        <slider
            [isEmphasized]="shiftActive"
            [isVertical]="styleIsVertical"
            [length]="'200px'"
            [isDraggable]="true"
            [isPercentage]="false"
            [showLabel]="true"
            [showText]="true"
            [value]="value"
            (valueChanged)="onValueChanged($event)"
        ></slider>
    }
    @else if (styleIsKnob) {
        <knob
            [isEmphasized]="shiftActive"
            [showLabel]="true"
            [showNeedle]="true"
            [showText]="true"
            [isDraggable]="true"
            [isPercentage]="false"
            [size]="'100px'"
            [value]="value"
            (valueChanged)="onValueChanged($event)"
        ></knob>
    }
    @if (showText) {
        <div class="flex c center">
            <p class="tight">Value: {{ value.toFixed(2) }}</p>
            <p class="tight">Sensitivity: {{ sensitivity.toFixed(2) }}</p>
            <p class="tight">Press "{{ upKey }}" or "{{ downKey }}" to change.</p>
            <p class="tight">Hold Shift to adjust sensitivity</p>
        </div>
    }
</div>  