<mgl-map
    [style]="initialMapStyle"
    [zoom]="[zoom]"
    [center]="[centerLat, centerLng]"
    [fadeDuration]="fadeDuration"
    (mapLoad)="onMapLoad($event)"
>
    @for (geoObj of geoObjects; track geoObj.id) {
        <mgl-image
            [id]="geoObj.id.toString()"
            [data]="{
                width: geoObj.iconSize,
                height: geoObj.iconSize,
                data: geoObj.iconData
            }"
        ></mgl-image>
    }
    <mgl-geojson-source id="markers">
        @for (geoObj of geoObjects; track geoObj.trackTarget) {
            <mgl-feature
                [geometry]="{
                    type: 'Point',
                    coordinates: [geoObj.lon, geoObj.lat]
                }"
                [properties]="{
                    id: geoObj.id,
                    icon: geoObj.id.toString(),
                    iconSize: geoObj.iconSize,
                    iconRadius: geoObj.iconSize * 0.5,
                    heading: geoObj.hdg
                }"
            ></mgl-feature>
        }
    </mgl-geojson-source>
    <mgl-layer
        id="marker-border"
        type="circle"
        source="markers"
        [filter]="['all', 
            ['all', ['has', 'id'], ['has', 'iconRadius']],
            ['==', ['get', 'id'], selectedMarkerId]]"
        [paint]="{
            'circle-radius': ['*', ['get', 'iconRadius'], this.iconScale],
            'circle-color': 'rgba(0, 0, 0, 0.2)',
            'circle-stroke-width': 2 * iconScale,
            'circle-stroke-color': 'rgba(255, 127, 0, 1)',
        }"
    ></mgl-layer>
    <mgl-layer
        id="points"
        type="symbol"
        source="markers"
        [filter]="['all', ['has', 'id'], ['has', 'icon'], ['has', 'heading']]"
        [layout]="{
            'icon-image': ['get', 'icon'],
            'icon-size': iconScale,
            'icon-rotate': ['get', 'heading'],
            'symbol-sort-key': ['get', 'id'],
        }"
        (layerClick)="onMarkerClick($event)"
        (layerMouseEnter)="onMarkerEnter($event)"
        (layerMouseLeave)="onMarkerLeave($event)"
    >
    </mgl-layer>
    @if (popupVisible) {
        <mgl-popup
            [lngLat]="popupLonLat"
            [closeOnClick]="false"
            [closeButton]="false"
        >
            <div class="popup">
                {{popupText}}
            </div>
        </mgl-popup>
    }
</mgl-map>
<div class="floaty">
    <dropselect
        [items]="layerModes"
        [title]="'Select Layer Mode'"
        [indexMode]="false"
        [hoverMode]="true"
        [multiSelect]="false"
        [fixDropdown]="false"
        (selectionChanged)="onSelectT($event)"
    ></dropselect>
</div>