<div class="field-editor-container">
  @for (key of fieldKeys; track key) {
    <div class="field-row">
      <!-- For each Object or Array, show a toggle button -->
      @if (isObjectType(objToEdit[key]) || isArrayType(objToEdit[key])) {
        <!-- Property name -->
        <div class="field-subrow">
          <div class="field-name">
            {{ key }}
          </div>
          <button class="toggle-btn" (click)="toggleExpand(key)">
            {{ expandedFields[key] ? '−' : '+' }}
          </button>
        </div>
        @if (expandedFields[key]) { <!-- Nested fields -->        
            @if (isObjectType(objToEdit[key])) { <!-- Object -->
              <field-editor
                [objToEdit]="objToEdit[key]"
                (fieldChanged)="onSubFieldChanged($event, key)"
              ></field-editor>
            }
            @else { <!-- Array -->
              <ul>
                <li *ngFor="let item of objToEdit[key]; let i = index; trackBy: trackByIndex">
                  <div class="array-item">
                    <!-- If item is object or another array, recursively edit -->
                    @if (isObjectType(item) || isArrayType(item)) {
                      <field-editor
                        [objToEdit]="item"
                        (fieldChanged)="onArraySubFieldChanged($event, key, i)"
                      ></field-editor>
                    }
                    @else {
                      <value-editor
                        [itemToEdit]="item"
                        [itemName]="key + '[' + i + ']'"
                        (itemChanged)="onItemChange($event)"
                      ></value-editor>
                    }
                    <!-- Button to remove item -->
                    <button (click)="removeArrayItem(key, i)">Remove</button>
                  </div>
                </li>
              </ul>
              <!-- Button to add a new array item -->
              <button (click)="addArrayItem(key)">Add new item</button>
            }
        }
        @else { <!-- Label to show type of object -->
          <span class="object-label">
            {{ isObjectType(objToEdit[key]) ? '\<Object\>' : '\[Array\]' }}
          </span>
        }
      }
      @else {
        <value-editor
          [itemToEdit]="objToEdit[key]"
          [itemName]="key"
          (itemChanged)="onItemChange($event)"
        ></value-editor>
      }
    </div>  
  }
</div>
