<div class="flex p_full">
    <div class="flexc grow">
        <mapview class="flex grow bd_dbl bdc_tint bd_r5"
            [markerGroups]="[wpGroup, plGroup]"
            [paths]="[mPath]"
            [apiKey]="apiKey"
            [mapStyles]="['topo-v2', 'satellite']"
            [mapStyle]="'topo-v2'"
            [localMode]="true"
            [mapUrlBase]="mapUrlBase"
            [localMapUrlBase]="localMapUrlBase"
            [maxZoom]="16"
            (mapMouseDown)="onMapMouseDown($event)"
            (objectMouseDown)="onObjectMouseDown($event)"
            (objectMouseUp)="onObjectMouseUp($event)"
            (objectMoved)="onObjectMoved($event)"
            (objectClicked)="onObjectClicked($event)"
        ></mapview>    
        <div class="flex px_h300">
            <div class="flexc p_halfw bd_dbl bdc_tint bd_r5 pad10h">
                <dropselect #ds class="pad5btm"
                    [items]="missions"
                    [defaultItem]="missions[0]"
                    [representation]="missionsRepr"
                    [title]="'Select Mission'"
                    [hoverMode]="true"
                    [indexMode]="true"
                    (selectionChanged)="onMissionSelected($event)"
                ></dropselect>
                <button class="pad5 mar5" [disabled]="!existingMission" (click)="onMissionDeleted()">Delete Mission</button>
                <obj-editor class="flex grow"
                    [objToEdit]="selectedMission"
                    [objName]="'Mission Info'"
                    [textEnabled]="false"
                    [autoApply]="true"
                    [includeFieldFilter]="mIncludeFieldsFilter"
                    [readOnlyFieldFilter]="mReadOnlyFieldsFilter"
                    (applied)="onMissionApplied($event)"
                ></obj-editor>
            </div>
            <div class="flexc justends p_halfw bd_dbl bdc_tint bd_r5">
                <div class="txt_hdg ft_smal">Edit Waypoint(WP)s</div>
                <div class="ft_smal pad5">
                    <div class="flex justends">
                        <span class="ital">+ WP:</span>
                        <span>Ctrl + Left Click</span>
                    </div>
                    <div class="flex justends">
                        <span class="ital">- WP:</span>
                        <span>Ctrl + Right Click</span>
                    </div>
                    <div class="flex justends">
                        <span class="ital">Move WP:</span>
                        <span>Left Drag ✥</span>
                    </div>
                    <div class="flex justends">
                        <span class="ital">Edit WP Alt:</span>
                        <span>Middle Drag ✥</span>
                    </div>            
                </div>
                <div class="txt_hdg ft_smal">Edit Plane(PL)s</div>
                <div class="ft_smal pad5">           
                    <div class="flex justends">
                        <span class="ital">+ PL:</span>
                        <span>Alt + Left Click</span>
                    </div>
                    <div class="flex justends">
                        <span class="ital">- PL:</span>
                        <span>Alt + Right Click</span>
                    </div>
                    <div class="flex justends">
                        <span class="ital">Move PL:</span>
                        <span>Left Drag ✥</span>
                    </div>
                    <div class="flex justends">
                        <span class="ital">Rotate PL:</span>
                        <span>Right Drag ↻</span>
                    </div>
                </div>
                <div class="txt_hdg ft_smal">Edit Mission</div>
                <div class="ft_smal pad5">
                    <div class="flex justends">
                        <span class="ital">Change Id / Name / Desc:</span>
                        <span>Edit in Info</span>
                    </div>
                    <div class="flex justends">
                        <span class="ital">Assign Leader:</span>
                        <span>Lefrt click on PL</span>
                    </div>
                    <div class="flex justends">
                        <span class="ital">+/- Followers:</span>
                        <span>Right click on PL</span>
                    </div>
                </div>
                <div class="flex justends">
                    <button class="pad5 mar5 p_halfw" (click)="onPlanesUpdate()">
                        @if (planesUpdating) {
                            <span class="spinner centcont"></span>
                        } @else { Update Planes }
                    </button>
                    <button class="pad5 mar5 p_halfw" (click)="onPlanesCompile()" [disabled]="!isAircraftsValid">
                        @if (compiling) {
                            <span class="spinner centcont"></span>
                        } @else { Compile Planes }
                    </button>
                    <button class="pad5 mar5 p_halfw" (click)="onMissionUpdate()" [disabled]="!isAircraftsCompiled">{{existingMission ? "Update" : "Create"}} Mission</button>
                </div>
            </div>
        </div>
    </div>
    <div class="px_w200 p_fullh">
        <div class="flexc p_halfh bd_dbl bdc_tint br_r5 pad5">
            <obj-editor class="flex grow"
                [objToEdit]="selectedMission.lead_path"
                [objName]="'Waypoints'"
                [textEnabled]="false"
                [autoApply]="true"
                (applied)="onWaypointApplied($event)"
            ></obj-editor>
        </div>
        <div class="flexc p_halfh bd_dbl bdc_tint bd_r5 pad5">
            <obj-editor class="flexc grow"
                [objToEdit]="aircrafts"
                [objName]="'Planes'"
                [textEnabled]="false"
                [autoApply]="true"
                [includeFieldFilter]="plIncludeFieldsFilter"
                (applied)="onAircraftApplied($event)"
            ></obj-editor>
        </div>
    </div>
</div>