:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.floaty {
    background-color: #eee;
    border-radius: 5px;
    border: 1px dashed #aaa;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.border {
    border: 3px double #abc;
}


.uniform {
    justify-content: space-between;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.ends {
    justify-content: space-between;
}
