
<div class="flexc p_full">
    <div class="flexc ft_bigr bd_dbl bdc_tint bd_r5 pad5">
        <span class="bold txt_nowrap centtext pad5">Configuration Page Instructions</span>
        <div class="flex justarnd bdc_dtint bd_dsh ft_smlr mar5h bd_r5 ital pad5">
            <div class="flexc p_halfw">
                <span>1. Download [Default] config files as a starting point</span>
                <span>2. Edit the config files anyhow you want</span>
                <span>3. Upload your edited config files</span>
                <span>4. Selected an uploaded config file and Apply</span>
            </div>
            <div class="flexc p_halfw">
                <span>5. You can select and Delete a non-default config file</span>
                <span>6. You can select and Download any config file</span>
                <span>7. If launch failed and you don't know the culprit:</span>
                <button class="pad2v px_minw100 px_maxw200 centself" (click)="onReset()">
                    @if (waiting) {
                        <span class="spinner centcont"></span>
                    } @else { Reset All Configs }
                </button>
            </div>
        </div>
    </div>
    <div class="flexc p_fullw bdc_tint bd_r5 bd_dbl">
        <div class="txt_hdg ft_bigr p_fullw pad5 bdc_tint bd_bdsh">Aircraft Configs</div>
        <div class="flex grow">
            @for (numType of AC_CFG; track numType) {
                <fileop class="flexc p_quartw pad10"
                    [title]="numToName(numType)"
                    [items]="fileDict[numType]"
                    [representation]="repr"
                    [buttonsShown]="['download', 'upload', 'apply', 'delete']"
                    (downloadClicked)="onFileOpDownloadClicked($event)"
                    (uploadClicked)="onFileOpUploadClicked(numType)"
                    (applyClicked)="onFileOpApplyClicked($event)"
                    (deleteClicked)="onFileOpDeleteClicked($event)"
                ></fileop>
            }
        </div>
    </div>
    <div class="flexc p_fullw bdc_tint bd_r5 bd_dbl">
        <div class="txt_hdg ft_bigr p_fullw pad5 bdc_tint bd_bdsh">Algorithms</div>
        <fileop class="flexc p_quartw pad10"
            title="Flocking Algorithm"
            [items]="fileDict[F]"
            [representation]="repr"
            [buttonsShown]="['upload', 'apply', 'delete']"
            (uploadClicked)="onFileOpUploadClicked(F)"
            (applyClicked)="onFileOpApplyClicked($event)"
            (deleteClicked)="onFileOpDeleteClicked($event)"
        ></fileop>
    </div>
</div>