<div
    class="noselect pos_rel"
    [class.draghost]="isDraggable"
    [class.dragging]="isDragging"
    [style.width]="isVertical ? width : length"
    [style.height]="isVertical ? length : width"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
>
    <div
        class="ov_hid pos_rel p_full bd_r5 emphhost bgc_lgrey tr_short bdc_tint bd_sng"
        [class.bd_emph]="isEmphasized"
        [class.sh_emph]="isEmphasized"
    >
        <div class="pos_abs lft0 top0 emphhost bgc_submit"
            [class.tr_none]="isDragging"
            [class.tr_short]="!isDragging"
            [class.bg_emph]="isEmphasized"
            [style.width]="!isVertical ? ratio * 100 + '%' : '100%'"
            [style.height]="isVertical ? ratio * 100 + '%' : '100%'"
            [style.bottom]="isVertical && !isReversed? '0' : 'auto'"
            [style.top]="isVertical && isReversed? '0' : 'auto'"
            [style.left]="!isVertical && !isReversed? '0' : 'auto'"
            [style.right]="!isVertical && isReversed? '0' : 'auto'"
        >
        </div>
    </div>
    <div class="pos_abs top0 lft0 btm0 rht0">
        @if (showLabel) {
            <div class="pos_abs ft_smal"
                [class.tf_xcent]="isVertical"
                [class.tf_ycent]="!isVertical"
                [class.top50p]="!isVertical"
                [class.btm0]="isVertical"
                [style.left]="isVertical ? '50%' : '0'"
            >
                {{ isReversed ? maxValue : minValue }}
            </div>
            <div class="pos_abs ft_smal"
                [class.tf_xcent]="isVertical"
                [class.tf_ycent]="!isVertical"
                [class.lft50p]="isVertical"
                [class.rht0]="!isVertical"
                [style.top]="isVertical ? '0' : '50%'"
            >
                {{ isReversed ? minValue : maxValue }}
            </div>
        }
        @if (showText) {
            <div class="pos_abs ft_smal lft50p top50p"
                [class.tf_rotcent]="isVertical"
                [class.tf_cent]="!isVertical"
            >
                {{ displayValue }}
            </div>
        }
    </div>
</div>
